<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="https://github.com/Nick-Kuhn88">Nick Kuhn</a>. Just a regular theatre guy who wanted to create a place where all his friends could post a quote to remind themselves of just how wacky our awesome profession is!
</p>
<br />
<p>
  With your help, this page can be filled with all the funny memories that make being in the theatre biz so worth it.
</p>
<br />
<p>
  Feel free to add anything you like! Just try to keep it PG-13, please. This should be an application that anyone, of any age, can enjoy and get a laugh over. 
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'nick-about-page.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-1">
    <h2 class="text-center">Nick Kuhn</h2>
    <br />
    <p>
      Nick Kuhn is a new Web Developer. He is currently working on the University of Arizona's Online Coding Bootcamp and hopes to make a big splash in a new profession very soon.
    </p>
  </div>
</div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />

